{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crud</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ crud.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ crud.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ crud.lastName }}</td>
            </tr>
            <tr>
                <th>Logofile</th>
                <td>{{ crud.logoFile }}</td>
            </tr>
            <tr>
                <th>Userrole</th>
                <td>{{ crud.userRole }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crud_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('crud_edit', { 'id': crud.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
